body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0;
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(19, 18, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
    color: #fff;
}

.container {
    padding: 20px;
    text-align: center;
}

.video-wrapper {
    margin: 20px auto;
    max-width: 560px;
}

#animatedBox {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 18px;
    position: relative;
}
